@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


@import url('https://fonts.cdnfonts.com/css/miama');

#miama-nav-font{
    font-family: 'Miama';
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 6rem;
    font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* white 100% */
.text-white{
    color: #FFFFFF;
}
/* white 50% */
.text-light-white{
    color: rgba(255, 255, 255, 0.5);
}
/* Text size -small */
.text-small-size{
    font-weight: 400;
    font-size: 0.65rem;
} 
/* Text size -large */
.tex-size-large{
    font-weight: 900;
    font-size: 2.2rem;
}

/* Text size -medium */
.text-size-medium{
    font-weight: 900;
    font-size: 1.5rem;
}
/* button */
.btn-primary{
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 1rem 2.9rem;
    font-size: .75rem;
    font-weight: 100;
    border: none;
    border-radius: 35px;
}

#btn-unique{
    background-color: transparent;
    color: #FFFFFF;
    padding: 1rem 2.9rem;
    font-size: 0.75rem;
    font-weight: 300;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
}

/* background color */
.bg-dark{
    background-color: #111111;
}
/*.bg-gray{
    background-color: #222222;
} */
/* header style */

/* navbar related styles */
#home{
    background-color: #E6533C;
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 35px;
    text-align: center;
}
.brand-name{
    color: #E6533C;
    font-weight: 800;
    font-size: 26px;
    font-style: italic;
}
.navbar{
    width: 1000px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 50px 140px 0 140px;
}
 
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

header{
    max-width: 1440px;
    margin: 0 auto;
}

/* size */

/* banner related styles */

.banner{
    margin-left: 140px;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 285px;
} 

.banner-content{
   width: 400px;
   height: 400px;
   padding-right: 80px;
   margin-top: 90px;
   
}
.banner-title{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 28px;
    line-height: 50px;
} 

.banner-description{
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 28px;
} 

.banner-image{
    display: block;
    background-size: contain;
    background-position: center;
}
.banner img{
    width: 100%;
    width: 260px;
    height: 430px;
}
.banner-btn{
    width: 360px;
    height: 45px;
    gap:14px;
}
/* main style */
main > section {
    margin-top: 100px;
}

/* change your habits section */
.habits{
    max-width: 1044px;
    height: 450px;
    margin: 100px 140px 0 140px;
}
.habits div{
    text-align: center;
}
.new-habits{
    width: 450px;
    height: 40px;
    margin-left: 250px;
}
.habit-title{
    margin-bottom: 0;
}
.habit-img-container{
    max-width: 1044px;
    height: 220px;
    gap: 58px;
    margin-top: 30px;
}
 .habit-img-container img{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.habit-img{
    width: 110px;
    height: 110px;
    margin: 60px 20px 25px 20px;
}



/* Run an Extra Mile Easily section */
.extra-mile{
    background-color: #222222;
    width: 900px;
    height: 290px;
    margin: 0 auto;
    gap: 180px;
    border-radius: 18px;
}

.extra-mile img{
    width: 78%;
    height: 88%;
    border-radius: 18px;
    margin: 18px 30px 10px 80px;
}
.run-content{
    width: 260px;
    height: 160px;
    margin: 20px 0 40px 50px;
}
.run-title{
    line-height: 40px;
    padding: none;
    margin-bottom: 10px;
}
.btn-run {
    margin-top: 20px;
}

/* challenge part */
/* special diet section */
.diet-container{
    width: 900px;
    height: 290px;
    margin: 0 auto;
    gap: 180px;
    border: 2px solid beige;
}
.diet-container img{
    background-size: cover;
    
}
.diet-content{
    border: 2px solid burlywood;
    border-radius: 10px;
    padding: 0 10px;
}

/* BMI Calculator */
.bmi{
    width: 470px;
    height: 90px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 90px;
}
.bmi-content{
    width: 480px;
    height: 70px;
}
.bmi-title{
    line-height: 40px;
    padding: none;
    margin-bottom: 10px;
}

/* Calculator chart  */
.chart-container{
    background-color: #222222;
    max-width: 1440px;
    height: 450px;
    gap: 60px;
}
.chart-container h4{
    padding: 0;
    margin-top: 50px;
    line-height: 0;
}
table{
    border-collapse: collapse;
    width: 310px;
    height: 216px;
    margin-top: 50px;
    margin-left: 170px;
    border: 1px;
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Calculate your BMI */

.bmi-input-container{
    width: 400px;
    max-height: 360px;
    margin-right: 200px;
    
    margin-top: 5px;
}
.bmi-input-container h4{
    padding: 0;
    font-weight: 900;
    font-size: 1.7rem;
    margin-top: 50px;
    line-height: 0;
}
.bmi-input-container p{
    padding: 0;
    line-height: auto;
    margin-top: 7px;
    margin-bottom: 50px;
    font-weight: 400;
}
.bmi-form-heading {
    margin-left: 189px;
}
.bmi-form-heading {
    width:443px;
    height: 34px;
}
form > span{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
form{
    width: 100%;
    max-height: 168px;
}
.form-content{
    width: 400px;
    height: 90px;
    border-radius: 8px;
    padding: 12px, 40px, 12px, 20px;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    gap: 10px;
}
.form-factor {
    margin-top: 10px;
    width: 400px;
    height: 40px;
}
.bmi-input-container button {
    margin-top: 37px;
}
/* Meet Our Team */
 .meet-team{
    max-width: 1060px;
    height: 680px;
    margin-left: 150px;
    margin-right: 130px;
 }
 .meet-content{
    width: 470px;
    height: 90px;
    text-align: center;
    margin-left: 210px;
 }
 .meet-content > h3{
    padding: none;
    margin: 0 auto;   
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #222222;
    width: 920px;
    height: 520px;
    padding: 8px 12px 12px 8px;
    margin-top:  50px;
    border-radius: 20px;
}
.card{
    position: relative;
    display: inline-block;
    width: 285px;
    height: 240px;
    
}
.card img{
    border-radius: 30px;
}
.meet-team-img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;  
    padding: 15px;
}
.card-text{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translateX(-60px) translateY(120px);
    
}
.card-text h5{
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.card-text p{
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}  
/* footer style */
footer{
    background-color: #222222;
    max-width: 1440px;
    height: 340px;
    margin-top: 100px;
    padding-top: 60px;
}
.footer-div-container {
    width: 900px;
    height: 300px;
    margin-left: 145px;
    gap: 160px;
}
.footer-list-container{
    width: 450px;
    height: 220px;
    list-style: none;
    justify-content:center ;
    gap: 50px;
}
.footer-list-container ul li{
    list-style: none;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 5px;
}
.footer-list-container h3{
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0;
    line-height: 0;
}
.concluding-text{
    width: 380px;
    height: 150px;
}
.concluding-text h2{
    font-weight: 800;
    font-size: 3rem;
    color: #E6533C;
    line-height: 0;
    font-style: italic;
}
.concluding-text p{
    font-weight: 400;
    font-size: 0.70rem;
    letter-spacing: 0.8px;
}
/* copywright styles  */
.footer-cw-container{
    width: 900px;
    height: auto;
    text-align: center;
    margin-left: 140px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.copywright{
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 1px;
}


/* small device media query */
@media screen and (max-width: 576px) {
    .nav > ul{
        transform: hidden; 
    }
}