@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


@import url('https://fonts.cdnfonts.com/css/miama');

#miama-nav-font{
    font-family: 'Miama';
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 6rem;
    font-style: normal;
}

                

/* shared style */

.display-flex{
    display: flex;
}


/* white 100% */
/* .text-white{
    color: #FFFFFF;
} */

/* white 50% */
/* .text-light-white{
    color: rgba(255, 255, 255, 0.5);
} */
/* Text size -small */
.text-small-size{
    font-weight: 400;
    font-size: 0.65rem;
} 
/* Text size -large */
.tex-size-large{
    font-weight: 900;
    font-size: 2.2rem;
}

/* Text size -medium */

.btn-primary{
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 1rem 2.9rem;
    font-size: .75rem;
    font-weight: 100;
    border: none;
    border-radius: 35px;
}

#btn-unique{
    background-color: transparent;
    /* color: #FFFFFF; */
    padding: 1rem 2.9rem;
    font-size: 0.75rem;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 35px;
}

/* background color */
/* .bg-dark{
    background-color: #111111;
}
.bg-gray{
    background-color: #222222;
} */
/* header style */

/* navbar related styles */
#home{
    background-color: #E6533C;
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 35px;
    text-align: center;
}
.brand-name{
    color: #E6533C;
    font-weight: 800;
    font-size: 26px;
    font-style: italic;
}
.navbar{
    width: 1000px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 50px 140px 0 140px;
}
 
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

header{
    max-width: 1440px;
    margin: 0 auto;
}

/* size */

/* banner related styles */

.banner{
    /* justify-content: center; */
    margin-left: 140px;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 285px;
} 

.banner-content{
   width: 400px;
   height: 400px;
   padding-right: 80px;
   margin-top: 90px;
   
}
.banner-title{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 28px;
    line-height: 50px;
} 

.banner-description{
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 28px;
} 

.banner-image{
    display: block;
    background-size: contain;
    background-position: center;
}
.banner img{
    width: 100%;
    width: 260px;
    height: 430px;
}
.banner-btn{
    width: 360px;
    height: 45px;
    gap:14px;
}
/* main style */
/* main > section {
    margin-top: 100px;
} */

/* change your habits section */
.habits{
    max-width: 1044px;
    height: 450px;
    margin: 100px 140px 0 140px;
}
.habits div{
    text-align: center;
}
.new-habits{
    width: 450px;
    height: 40px;
    margin-left: 250px;
}
.habit-title{
    margin-bottom: 0;
}
.habit-img-container{
    max-width: 1044px;
    height: 220px;
    gap: 58px;
    margin-top: 30px;
}
 .habit-img-container img{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.habit-img{
    width: 110px;
    height: 110px;
    margin: 60px 20px 25px 20px;
}



/* Run an Extra Mile Easily section */
.extra-mile{
    background-color: #222222;
    width: 900px;
    height: 290px;
    margin: 0 auto;
    gap: 180px;
    border-radius: 18px;

}

.extra-mile img{
    width: 78%;
    height: 88%;
    border-radius: 18px;
    margin: 18px 30px 10px 80px;
}
.run-content{
    width: 260px;
    height: 160px;
    margin: 20px 0 40px 50px;
}
.run-title{
    line-height: 40px;
    padding: none;
    margin-bottom: 10px;
}
.btn-run {
    margin-top: 20px;
}
/* footer style */
